PORT=5000

# MongoDB Connection
# For Local: mongodb://localhost:27017/sports_platform
# For Atlas: mongodb+srv://username:password@cluster.mongodb.net/sports_platform
MONGODB_URI=mongodb+srv://rathodkartik293:kkr12345@cluster0.9mxais9.mongodb.net/?appName=Cluster0

# JWT Secret
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production

# Environment
NODE_ENV=development